body{
    background-color: rgb(0, 0, 0);
    position: relative;
}
p {
    margin: 150px;
    margin-bottom: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
    position: relative;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-text {
    font-size: 1rem;
    padding: 10px;
    border: 0.5pc solid;
    border-radius: 5px;
}
#generate-color-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}